<nav class="header__nav">
    <ul>
        <li><a href="/contato">Contato</a></li>
        <li><a href="/sobre">Sobre nós</a></li>
        <li><a href="/projeto">Projeto</a></li>
    </ul>
</nav>