<div class="searchBar">
    <div class="container">
        <form action="/search" class="search__Form" role="search" method="POST"/>
            <input
            type="search"
            aria-Label="Search"
            id="searchInput"
            name="searchTerm"
            placeholder="Pesquisar perfis..."
            >
        </form>
        <div id="searchClose">Close</div>
    </div>
</div> 