body 
{
    
    background-color: #171717;
}

h1
{
    color: #7600dd;
    margin-left: 5%;
    margin-top: 5%;
    font-family: 'Roboto', sans-serif;
    font-size: 50px; 
}



form {
    width: 31%;
    height: 620px ;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    margin-right: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 6%;
    margin-left: 36%;
    font-family: 'Roboto', sans-serif;
}
h1 {
    text-align: center;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"], input[type="date"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
select {
    height: 40px; 
}
a {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 50%;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
a:hover {
    background-color: #0056b3;
}


@media (max-width: 450px){

    form{
        width:300px;
        margin-left: 48px;
        margin-top: 50px;
    }
}

.biotext{
    color: #171717;
    font-size: 20px;
    margin-left: -62%;
    margin-top: -2%;
}

.bio-textarea {
    width: 96%;
    height: 130px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}
 @media 
     (max-width: 450px){
    .biotext{
        margin-left: -80px;
    }
}

@media (max-width: 450px){
    a{
        margin-left: 165px;
    }
}